<h1>Write your new Fwitter Tweet, <%=@user.username%></h1>
<br>
<form action="/tweets" method="POST">
  <input id="content" type="textbox" name="content">
  <input id="submit" type="submit" value="Post to Fwitter">
</form>
<br>
<a href="/logout">Logout</a>
