<p><%=@tweet.content%></p>
<br>
<form action="/tweets/<%=@tweet.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <input id="content" type="textbox" name="content" placeholder="New content here">
  <input id="submit" type="submit" value="Post Edited Tweet">
</form>
<br>
<a href="/tweets">Fwitter Index</a>
<br></br>
<a href="/logout">Logout</a>
