<h1>Sign Up for Fwitter</h1>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="text" name="password" style="-webkit-text-security: disc"></p>
  <input type="submit" value="Sign Up">
</form>
